# build
dist/
.astro/

# dépendances
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environnement
.env
.env.production
.env.local

# éditeurs / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
